/*
	Overpass =>
	- font-family: 'overpassbold_italic';
	- font-family: 'overpassextralight';
	- font-family: 'overpassextralight_italic';
	- font-family: 'overpasslight_italic';
	- font-family: 'overpassitalic';
	- font-family: 'overpasslight';
	- font-family: 'overpassbold';
	- font-family: 'overpassregular';
	Fawn =>
	- font-family: 'fawn_scriptregular';
*/

html, body {
	margin: 0;
	width: 100%;
	height:100%;
	font-family: 'overpassregular', Arial, sans-serif;
	background: url('../images/fd_vulp.png');
	
}
a {
	text-decoration: none;
}
html {
	background-color:rgba(200,200,200,0.2); 
}
ul, li, li a {
	list-style-type : none;
	text-decoration: none;
	color: black;
	padding-left: 2%;
}

header {
	background: url('../images/1.gif') no-repeat fixed center;
	height: 60%;
	width: 100%;
	background-size: cover;
	text-align: center;
}

header h1 {
	margin:0;
	font-size: 3em;
	padding-top: 10%;
	color: white;
	font-family: 'fawn_scriptregular', Arial, sans-serif;
}

header h2 {
	margin:0;
	color: rgba(255,255,255,0.9); 
}

/*  position de base  */

/*  accueil  */

.headernav {
	padding-top: 15%;
}

.sidebars {
	float: right;
	margin-top: 2%;
	margin-right: 5%;
	text-align: center;
	width: 25%;
}

.sidebar {
	padding: 5% 5% 5% 10%;
	text-align: left;
	background-color: white;
	width: 80%;
	border: 1px solid rgba(0,0,0,0.2);
}

.articles {
	float: right;
	width: 60%;
	
	color: black;
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: center;
}

.articles h2 {
	text-align: center;
}

.article{
	border: 1px solid rgba(0,0,0,0.2);
	text-align: left;
	width: 80%;
	padding: 4%;
	background-color: white;
	margin-top: 5%;
}
.article img {
	width: 100%;

}


/*/                single article */

.navbar {
	position: fixed;
	top:0;
	width: 100%;
	height: 8%;
	background-color: rgb(255,255,255);
	border: 1px solid rgba(0,0,0,0.2);
	padding: 1%;
}

.navbar .center {
	position: absolute;
	right: 0;
	height: 80%;
	z-index: 1000;
	text-align: center;
	width: 100%;
}

.navbar img {
	display: inline-block;
}

.navbar img {
	height: 100%;
}

.singles{
	width: 60%;
	margin-left: 10%;
	padding-right: 5%;
	padding-left: 5%;
}

.single img {
	width: 100%;
}

.single {
	width: 100%;
	background-color: rgba(255,255,255,0.2);
	margin: 0;
	padding-top: 10%;
}

.single h1, .single p{
	padding: 2%;
}

.single_plus {
	background-color: rgba(0,0,0,0.9);
	color: white;
	padding: 2%;
}

.article_single {
	width: 30%;
	display: inline-block;
	padding: 1%;
}

.article_single img {
	width: 100%;
}

.art3 {
	text-align: center;
}

/* page a propos  */
.propos {
	padding: 1% 20% 1% 10%;
}

/*   page erreur   */

.erreur {
	background: url('../images/bannier.jpg') no-repeat fixed center;
	background-size: cover;
	height: 100%;
	padding-top: 10%;
	width: 100%;
}
.erreur .content {

	width: 30%;
	margin-left: 60%;
	color: white;
	text-align: left;

}
/*   page troll   */

.troll {
	background: url('../images/giphy.gif') no-repeat fixed center;
	height: 100%;
	padding-top: 10%;
	width: 100%;
	background-size: cover;
}

.troll .content {

	width: 30%;
	margin-left: 60%;
	color: white;
	text-align: left;

}
footer {
	background-color: #333333;
	text-align: center;
	width: 100%;
	float: right;
	color: white;
	background-image: none !important;
	-webkit-box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.1);
}

.footer {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	height: 75px;
	line-height: 75px;
	white-space: nowrap;
	position: relative;
}

.footer a {
	color: white;
}
.footer img {
	max-height: 30px;
	max-width: 30px;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	margin: auto;
}

/* Form Part */

.formContent {
	padding: 35px 0;
}

.formContent:nth-child(odd) {
	background: none;
}

.formContent:last-child {
	border: 0;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
	outline: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type='text'], input[type='password'] {
	width: 220px;
	padding: 10px 10px 12px 60px;
	font-size: 12px;
	color: #555;
	border: 1px solid #aaa;
	background-color: #fff;
}

.formSubContent {
	display: inline-block;
	position: relative;
	margin: 0 5px 0 0;
}

.formSubContent input {
	transition: .1s all linear;
}

.formSubContent label {
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 12px;
	color: #aaa;
	transition: .1s all linear;
	cursor: text;
}


.formContent .formSubContent.active input {
	padding-left: 5px;
}

.formContent .formSubContent.active label {
	top: 39px;
	left: 0;
	width: 220px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2px;
	font-size: 10px;
	color: #fff;
	background: #ec7f00;
}

/* Button Style */

button {
	outline: none;
	height: 40px;
	text-align: center;
	width: 130px;
	border-radius: 40px;
	background: #fff;
	border: 2px solid #ec7f00;
	color: #ec7f00;
	letter-spacing: 1px;
	text-shadow: 0;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
button:hover {
	color: white;
	background: #ec7f00;
}
button:active {
	letter-spacing: 2px;
}
button:after {
	content: "SUBMIT";
}

.onclic {
	width: 40px;
	border-color: #bbbbbb;
	border-width: 3px;
	font-size: 0;
	border-left-color: #ec7f00;
	-webkit-animation: rotating 2s 0.25s linear infinite;
	animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
	content: "";
}
.onclic:hover {
	color: #ec7f00;
	background: white;
}

.validate {
	font-size: 13px;
	color: white;
	background: #ec7f00;
}


/*   page erreur   */
