/*
	Overpass =>
	- font-family: 'overpassbold_italic';
	- font-family: 'overpassextralight';
	- font-family: 'overpassextralight_italic';
	- font-family: 'overpasslight_italic';
	- font-family: 'overpassitalic';
	- font-family: 'overpasslight';
	- font-family: 'overpassbold';
	- font-family: 'overpassregular';
	Fawn =>
	- font-family: 'fawn_scriptregular';
*/

html, body {
	margin: 0;
	width: 100%;
	height:100%;
	font-family: 'overpassregular';
	background: url('../images/fd_vulp.png');
	
}
a {
	text-decoration: none;
}
html {
	background-color:rgba(200,200,200,0.2); 
}
ul, li, li a {
	list-style-type : none;
	text-decoration: none;
	color: black;
	padding-left: 2%;
}

header {
	background-color: rgba(0,0,0,0.8);
	background-image: url('../images/1.gif');
	height: 60%;
	width: 100%;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
header h1 {
	margin:0;
	font-size: 3em;
	padding-top: 10%;
	color: white;
	font-family: 'fawn_scriptregular';

}
header h2 {
	margin:0;
	color: rgba(255,255,255,0.9); 
}
/*  position de base  */

/*          accueil          */
.headernav {
	padding-top: 15%;
}
.sidebars {
	float: right;
	margin-top: 2%;
	margin-right: 5%;
	text-align: center;
	width: 25%;
	
	
}
.sidebar {
	padding-left: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 5%;
	text-align: left;
	background-color: white;
	width: 80%;
	border: 1px solid rgba(0,0,0,0.2);
}
.articles {
	float: right;
	width: 60%;
	
	color: black;
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: center;
}
.articles h2 {
	text-align: center;
}
.article{
	border: 1px solid rgba(0,0,0,0.2);
	text-align: left;
	width: 80%;
	padding: 4%;
	background-color: white;
	margin-top: 5%;
}
.article img {
	width: 100%;

}



/*/                single article */
.navbar {
	position: fixed;
	top:0;
	width: 100%;
	height: 8%;
	background-color: rgb(255,255,255);
	border: 1px solid rgba(0,0,0,0.2);
	padding: 1%;
}
.navbar .center {
	position: absolute;
	right: 0;
	height: 80%;
	z-index: 1000;
	text-align: center;
	width: 100%;
}
.navbar img {
	display: inline-block;
}
.navbar img {
	height: 100%;
}
.singles{
	width: 60%;
	margin-left: 10%;
	padding-right: 5%;
	padding-left: 5%;
}
.single img {
	width: 100%;
}
.single {
	width: 100%;
	background-color: rgba(255,255,255,0.2);
	margin: 0;
	padding-top: 10%;
}
.single h1, .single p{
	padding: 2%;
}

.single_plus {
	background-color: rgba(0,0,0,0.9);
	color: white;
	padding: 2%;
}
.article_single {
	width: 30%;
	display: inline-block;
	padding: 1%;
}
.article_single img {
	width: 100%;
}
.3art {
	text-align: center;
}

/* page a propos  */
.propos {
	padding-left: 10%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 20%;
}

/*   page erreur   */

.erreur {
		background-image: URL('../images/bannier.jpg');
	height: 100%;
	padding-top: 10%;
	width: 100%;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.erreur .content {

	width: 30%;
	margin-left: 60%;
	color: white;
	text-align: left;

}
/*   page troll   */

.troll {
	background-image: URL('../images/giphy.gif');
	height: 100%;
	padding-top: 10%;
	width: 100%;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.troll .content {

	width: 30%;
	margin-left: 60%;
	color: white;
	text-align: left;

}
footer {

		background-image: url('../images/bannier.jpg');
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	width: 100%;
	float: right;
	padding-top: 5%;
	padding-bottom: 5%;
	color: white;
	text-align: center;
}
.footer {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
}
.footer a {
	color: white;
}
.footer img {
	width: 10%;
}